body {
    background-color: #335;
    background-image: url("images/bg.png");
}
body {
    font-family: Arial;
    font-size: 20px;
    color: white;
}
    .middle {
        width: 45%;
        margin: auto;
        background-color: #334;
    }
        section {
            width: 100%
        }
        section img {
            width: 50%;
        }
        div {
            text-align: center;
          }
li {
  display: inline;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}
